<div>
    <div class="modal-content">
        <div class="modal-header">
            <h4>Questões em Foco | Login</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <form ng-submit="loginModalCtrl.submit(loginModalCtrl._email, loginModalCtrl._password)">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="">Login</label>
                            <input type="email" ng-model="loginModalCtrl._email" class="form-control"/>
                        </div>
                        <div class="col-md-6">
                            <label for="">Senha</label>
                            <input type="password" ng-model="loginModalCtrl._password" class="form-control"/>
                        </div>
                        <div class="col-md-12">
                            <br>
                            <button class="btn btn-primary btn-block">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>