<div class="row" ng-init="questoesCtrl.getQuestao()">
    <div class="col-md-12">
        <form class="form" role="form">
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea name="descricao"
                          id="descricao"
                          ui-tinymce="questoesCtrl.tinymceOptions"
                          ng-model="questoesCtrl.questao.texto"></textarea>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="disciplina">
                        Disciplina
                    </label>
                    <select name="" id="disciplina" ng-model="questoesCtrl.questao.disciplina" class="form-control"
                            ng-options="item.id as item.nome for item in questoesCtrl.disciplinas track by item.id">
                    <option value="">Selecione uma disciplina..</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="orgao">
                        Orgao
                    </label>
                    <select name=""
                            id="orgao"
                            ng-model="questoesCtrl.questao.orgao"
                            class="form-control"
                            ng-options="item.id as item.nome for item in questoesCtrl.orgaos track by item.id">
                        <option value="">Selecione uma orgao..</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="banca">
                        Banca
                    </label>
                    <select name="" id="banca"
                            ng-model="questoesCtrl.questao.banca"
                            class="form-control"
                            ng-options="item.id as item.nome for item in questoesCtrl.bancas track by item.id"
                    ng-selected="item.id == 0">
                    <option value="">Selecione uma banca..</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group" style="width:100%">
                <p class="page-header">Respostas</p>
                <button class="btn btn-sm btn-primary" ng-click="questoesCtrl.adicionarResposta()" style="margin-left:30px; margin-bottom:10px;">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
                <div ng-repeat="value in questoesCtrl.respostas track by $index" class="col-md-12" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <input type="text" ng-model="value.enunciado"
                               placeholder="Enunciado.."
                               class="form-control">
                    </div>
                    <div class="col-md-5">
                            <label for="">Resposta correta?</label>
                            <input type="radio"
                                   ng-model="value.correta"
                                   ng-value=true>Sim
                            <input type="radio"
                                   ng-model="value.correta"
                                   ng-value=false>Não
                        </div>

                    <button class="btn btn-sm btn-primary" ng-click="questoesCtrl.removerResposta($index)">
                        <i class="glyphicon glyphicon-minus"></i>
                    </button>
                </div>
            </div>
            <br>
            <div class="text-center" style="margin-top:20px; margin-bottom:20px; padding:20px;">
                <hr>
                <a href="#/questoes" class="btn btn-default">Voltar</a>
                <button class="btn btn-primary" ng-click="questoesCtrl.salvarQuestao()">Salvar</button>
            </div>
        </form>
    </div>
</div>
