<div class="row">
    <div class="panel" style="padding:20px;">
        <div class="panel-heading">
            <form action="">
                <h3 class="page-header">Questões Cadastradas</h3>
                <div class="form-group">
                    <select name=""
                            id="concurso"
                            ng-model="questoesCtrl.questao.concurso_id"
                            class="form-control"
                            style="width:200px; float:left; margin-right:5px;"
                            ng-options="item.id as (item.orgao.nome + ' / ' + item.ano) for item in questoesCtrl.concursos track by item.id">
                        <option value="">Selecione um concurso..</option>
                    </select>
                    <select ng-model="questoesCtrl.questao.disciplina_id" class="form-control" style="width:200px; float:left; margin-right:5px;"
                            ng-options="item.id as item.nome for item in questoesCtrl.disciplinas">
                        <option value="">Selecione uma disciplina..</option>
                    </select>
                    <div class="clearfix"></div>
                    <br>
                    <button class="btn btn-default">Buscar</button>
                    <a class="btn btn-primary" href="#/questoes/adicionar">Nova</a>
                    <hr>
                </div>
            </form>
        </div>
        <div class="panel-body">
            <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th>#ID</th>
                    <th>Concurso</th>
                    <th>Cargo</th>
                    <th>Disciplina</th>
                    <th>Enunciado</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="questao in questoesCtrl.questoes">
                        <td>{{questao.id}}</td>
                        <td>{{questao.concurso.orgao.nome + ' / ' + questao.concurso.ano}}</td>
                        <td>{{questao.cargo.nome}}</td>
                        <td>{{questao.disciplina.nome}}</td>
                        <td>{{questao.texto}}</td>
                        <td>
                            <a href="#/questoes/editar/{{questao.id}}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>

                            <a href="javascript:;" ng-click="questoesCtrl.trash(disciplina.id)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <ul uib-pagination
                ng-model="questoesCtrl.currentPage"
                total-items="questoesCtrl.totalRows"
                max-size="questoesCtrl.maxSize"
                boundary-links="true"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"
                ng-change="questoesCtrl.pageChanged()">
            </ul>

        </div>
    </div>
</div>