<div class="row" ng-init="questoesCtrl.getQuestao()">
    <div class="col-md-12">
        <h3 class="page-header">Cadastrar questão</h3>
        <form class="form" role="form">
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea name="descricao"
                          id="descricao"
                          ui-tinymce="questoesCtrl.tinymceOptions"
                          ng-model="questoesCtrl.questao.texto"></textarea>
            </div>
            <form id="my_form" action="/upload/"
                  target="form_target" method="post" enctype="multipart/form-data">
                <input type="file" name="imageFile" id="imageFile"
                        file-model="questoesCtrl.imageFile" style="display:none;"/>
            </form>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="disciplina">
                        Disciplina
                    </label>
                    <select name="disciplina" id="disciplina" ng-model="questoesCtrl.questao.disciplina_id" class="form-control"
                            ng-options="item.id as item.nome for item in questoesCtrl.disciplinas">
                    <option value="">Selecione uma disciplina..</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="concurso">
                        Concurso
                    </label>
                    <select name=""
                            id="concurso"
                            ng-model="questoesCtrl.questao.concurso_id"
                            class="form-control"
                            ng-options="item.id as (item.orgaos.nome + ' / ' + item.ano) for item in questoesCtrl.concursos">
                        <option value="">Selecione um concurso..</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="concurso">
                        Cargo
                    </label>
                    <select name=""
                            id="concurso"
                            ng-model="questoesCtrl.questao.cargo_id"
                            class="form-control"
                            ng-options="item.id as item.nome for item in questoesCtrl.cargos">
                        <option value="">Selecione um concurso..</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group" style="width:100%">
                <p class="page-header">Respostas</p>
                <button class="btn btn-sm btn-primary" ng-click="questoesCtrl.adicionarResposta()" style="margin-left:30px; margin-bottom:10px;">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
                <div ng-repeat="value in questoesCtrl.questao.respostas track by $index" class="col-md-12" style="margin-bottom:10px;">
                    <div class="col-md-6">
                        <input type="text" ng-model="questoesCtrl.questao.respostas[$index].enunciado"
                               placeholder="Enunciado.."
                               class="form-control">
                    </div>
                    <div class="col-md-5">
                            <label for="">Resposta correta?</label>
                            <input type="radio"
                                   ng-model="questoesCtrl.questao.respostas[$index].correta"
                                   ng-value="1">Sim
                            <input type="radio"
                                   ng-model="questoesCtrl.questao.respostas[$index].correta"
                                   ng-value="0">Não
                        </div>

                    <button class="btn btn-sm btn-primary" ng-click="questoesCtrl.removerResposta($index)">
                        <i class="glyphicon glyphicon-minus"></i>
                    </button>
                </div>
            </div>
            <br>
            <div class="text-center" style="margin-top:20px; margin-bottom:20px; padding:20px;">
                <hr>
                <a href="#/questoes" class="btn btn-default">Voltar</a>
                <button class="btn btn-primary" ng-click="questoesCtrl.create()">Salvar</button>
            </div>
        </form>
    </div>
</div>
