<div class="row">
    <div class="alerts">
        <div class="alerts" ng-repeat="alert in questoesCtrl.alerts">
            <div class="alert {{alert.type}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{alert.message}}
            </div>
        </div>
    </div>
    <div class="panel" style="padding:20px;">
        <div class="panel-heading">
            <form action="">
                <h3 class="page-header">Questões Cadastradas</h3>
                <div class="form-group">
                    <div class="row">
                    <div class="col-md-1">
                        <label for="">Filtrar por:</label>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <select name="concurso"
                                    id="concurso"
                                    ng-model="questoesCtrl.questao.concurso_id"
                                    class="form-control"
                                    ng-options="item.id as (item.orgao.nome + ' / ' + item.ano) for item in questoesCtrl.concursos track by item.id">
                                <option value="">Concurso</option>
                            </select>
                            <span class="input-group-addon" id="basic-addon1">
                                <a href="javascript:;" ng-click="questoesCtrl.cleanSearch(questoesCtrl.questao.concurso_id = undefined)">x</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <select ng-model="questoesCtrl.questao.disciplina_id" class="form-control"
                                    ng-options="item.id as item.nome for item in questoesCtrl.disciplinas">
                                <option value="">Disciplina</option>
                            </select>
                            <span class="input-group-addon" id="basic-addon1">
                                <a href="javascript:;" ng-click="questoesCtrl.cleanSearch(questoesCtrl.questao.disciplina_id = undefined)">x</a>
                            </span>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">

                            <select ng-model="questoesCtrl.questao.filtroMultiplaEscolha" class="form-control"
                                    ng-options="item.id as item.nome for item in questoesCtrl.multiplaEscolhaList">
                                <option value="">Múltipla Escolha</option>
                            </select>
                            <span class="input-group-addon" id="basic-addon1">
                                <a href="javascript:;" ng-click="questoesCtrl.cleanSearch(questoesCtrl.questao.filtroMultiplaEscolha = undefined)">x</a>
                            </span>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <select ng-model="questoesCtrl.questao.filtroTipoQuestao" class="form-control"
                                    ng-options="item.id as item.nome for item in questoesCtrl.tipoQuestaoList">
                                <option value="">Nível</option>
                            </select>
                            <span class="input-group-addon" id="basic-addon1">
                                <a href="javascript:;" ng-click="questoesCtrl.cleanSearch(questoesCtrl.questao.filtroTipoQuestao = undefined)">x</a>
                            </span>
                        </div>
                    </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                        <button class="btn btn-default" type="button" ng-click="questoesCtrl.buscarQuestoes()">Buscar
                        </button>
                        <a class="btn btn-primary" ui-sref="app.questoes.adicionar">Nova</a>
                        </div>
                    </div>
                    <hr>
                </div>
            </form>
        </div>
        <div class="panel-body">
            <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th>#ID</th>
                    <th>Concurso</th>
                    <th>Cargo</th>
                    <th>Disciplina</th>
                    <th>Assunto</th>
                    <th>Prova</th>
                    <th>Múltipla Escolha</th>
                    <th>Nível</th>
                    <th>Enunciado</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="questao in questoesCtrl.questoes">
                    <td>{{questao.id}}</td>
                    <td>{{questao.concurso.orgao.nome + ' / ' + questao.concurso.ano}}</td>
                    <td>{{questao.cargo.nome}}</td>
                    <td>{{questao.disciplina.nome}}</td>
                    <td>{{questao.assunto.nome}}</td>
                    <td>{{questao.prova.nome}}</td>
                    <td>{{questao.multipla_escolha === 1 ? 'Sim' : 'Não'}}</td>
                    <td>{{questao.label_tipo_questao}}</td>
                    <td ng-bind-html="questao.texto | trust"></td>
                    <td>
                        <a href="editar/{{questao.id}}">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>

                        <a href="javascript:;" ng-click="questoesCtrl.trash(questao.id)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <ul uib-pagination
                ng-model="questoesCtrl.currentPage"
                total-items="questoesCtrl.totalRows"
                max-size="questoesCtrl.maxSize"
                boundary-links="true"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"
                ng-change="questoesCtrl.pageChanged()">
            </ul>

        </div>
    </div>
</div>