<div class="row" ng-init="usuariosCtrl.getUsuario()">
    <div class="col-md-12">
        <div class="alerts">
            <div ng-if="usuariosCtrl.alerts[0].type == 'ERROR'">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{usuariosCtrl.alerts[0].message}}
                </div>
            </div>

            <div ng-if="usuariosCtrl.alerts[0].type == 'SUCCESS'">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{usuariosCtrl.alerts[0].message}}
                </div>
            </div>
        </div>
        <h4 class="page-header">Cadastrar Usuário</h4>
        <form class="form" role="form">
            <div class="form-group">
                <div class="col-md-4">
                    <label for="nome">Nome</label>
                    <input type="text"
                           name="nome"
                           id="nome"
                           ng-model="usuariosCtrl.usuario.name"
                           class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="nome">E-mail</label>
                    <input type="text"
                           name="nome"
                           id="nome"
                           ng-model="usuariosCtrl.usuario.email"
                           class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="nome">Senha</label>
                    <input type="password"
                           name="nome"
                           id="nome"
                           ng-model="usuariosCtrl.usuario.password"
                           class="form-control">
                </div>
            </div>
            <br>
            <div class="text-center" style="margin-top:20px; margin-bottom:20px; padding:20px;">
                <hr>
                <a ui-sref="app.usuarios.home" class="btn btn-default">Voltar</a>
                <button class="btn btn-primary" ng-click="usuariosCtrl.create()">Salvar</button>
            </div>
        </form>
    </div>
</div>
