<div class="row">
    <div class="col-md-12">
        <h3 class="page-header">Painel de Controle</h3>
        <div class="well well-sm  col-md-4 " style=" margin-right:10px; background:#fff !important;">
            <h5 class="text-center">Questões Cadastradas</h5>
            <p class="text-capitalize text-center" style="font:36px bold;">
                {{dashboardCtrl.totalQuestoes}}
            </p>
        </div>
        <div class="well well-sm col-md-4" style=" margin-right:10px; background:#fff !important;">
            <h5 class="text-center">Concursos Cadastrados</h5>
            <p class="text-capitalize text-center" style="font:36px bold">
                {{dashboardCtrl.totalConcursos}}
            </p>
        </div>
    </div>
</div>
