<div class="row">
    <div class="alerts" ng-if="disciplinasCtrl.alerts !== undefined">
        <div ng-if="disciplinasCtrl.alerts.type == 'ERROR'">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{disciplinasCtrl.alerts.message}}
            </div>
        </div>
        <div ng-if="disciplinasCtrl.alerts.type == 'SUCCESS'">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                {{disciplinasCtrl.alerts.message}}
            </div>
        </div>
    </div>
    <div class="panel" style="padding:5px;">
        <div class="panel-heading">
            <h3 class="page-header">Concursos Cadastrados</h3>
            <a class="btn btn-primary" href="#/concursos/adicionar">Novo</a>
        </div>
        <div class="panel-body">
            <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th>#ID</th>
                    <th>Orgão</th>
                    <th>Banca</th>
                    <th>Ano</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="concurso in concursosCtrl.concursos">
                    <td>{{concurso.id}}</td>
                    <td>{{concurso.orgao.nome}}</td>
                    <td>{{concurso.banca.nome}}</td>
                    <td>{{concurso.ano}}</td>
                    <td>
                        <a href="#/concursos/editar/{{concurso.id}}">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a href="javascript:;" ng-click="concursosCtrl.trash(concurso.id)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <ul uib-pagination
                ng-model="concursosCtrl.currentPage"
                total-items="concursosCtrl.totalRows"
                max-size="concursosCtrl.maxSize"
                boundary-links="true"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"
                ng-change="concursosCtrl.pageChanged()">
            </ul>

        </div>
    </div>
</div>