<div class="row">
    <div class="panel" style="padding:5px;">
        <div class="panel-heading">
            <h3 class="page-header">Cargos Cadastrados</h3>
            <a class="btn btn-primary" href="#/cargos/adicionar">Novo</a>
        </div>
        <div class="panel-body">
            <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th>#ID</th>
                    <th>Nome</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cargo in cargosCtrl.cargos.cargos track by cargo.id">
                    <td>{{cargo.id}}</td>
                    <td>{{cargo.nome}}</td>
                    <td>
                        <a href="#/cargos/editar/{{cargo.id}}">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>